@import 'variables';
@import 'breakpoints';

.TeamHeader {
	width: 50%;
	text-align: center;
	display: block;
	margin: 80px auto;
	@include breakpoint(small) {
		width: 90%;
	}
}

.teamwork {
	width:250px;
	display: block;
	margin: 0 auto;
}

.people {
	background-color: #F9FAFE;
	padding-top: 75px;
}

.headshot {
	width: 75%;
	display: block;
	margin: 0 auto;
	@include breakpoint(small) {
		width: 90%;
	}
}

.headshotContent {
	width: 75%;
	display: block;
	margin: 0 auto;
}
