<section class="
  footer <%= background === 'white' ? 'white-bg' : ''%>
  <%= background === 'off-white' ? 'off-white-bg' : ''%>
  "
  >
  <nav role="navigation">
    <ul>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
  <div class="copyright">
    © 2018 The Baire Group, LLC.
  </div>
</section>
