<!-- Navigation -->
<div class="topbar large-screens hidden-small-screens">
  <div class="logo-container va-container va-container-h">
    <a href="/">
      <img class="topbar-logo va-middle" src="/assets/logo_blue.svg" />
      <div class="topbar-name va-middle">the baire group.□</div>
    </a>
    <nav role="navigation">
      <ul>
        <li class="button"><a href="/team">Team</a></li>
        <li class="success-button"><a href="/contact-us">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="topbar small-screens hidden-large-screens">
  <div class="logo-container va-container va-container-h">
    <a href="/">
      <img class="topbar-logo va-middle" src="/assets/logo_blue.svg" />
      <div class="topbar-name va-middle">the baire group</div>
    </a>
    <div class="hamburger">
      <div id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <nav class="mobile-nav" role="navigation">
    <ul>
      <li class="button"><a href="/team">Team</a></li>
      <li class="success-button"><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</div>
