<div class="pure-g content-bullet hidden-small-screens va-container va-container-v">
  <div class="pure-u-4-24 va-middle img-container">
    <img src="<%- imageSource %>" alt="<% imageAlt %>" />
  </div>
  <div class="pure-u-20-24 va-middle">
    <p>
      <%= text %>
    </p>
  </div>
</div>
<div class="pure-g content-bullet hidden-large-screens">
  <div class="pure-u-1 img-container">
    <img src="<%- imageSource %>" alt="<% imageAlt %>" />
  </div>
  <div class="pure-u-1">
    <p>
      <%= text %>
    </p>
  </div>
</div>
